<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuminaCraft - Productos</title>
    <link rel="stylesheet" href="../css/estilos.css"> 
</head> <!-- No es esencialmente perceptible en la página web pero es muy importante para el funcionamiento del HTML -->
<body> <!-- Cuerpo del HTML -->
<header> <!-- El encabezado -->
    <div class="logo"><img src="../imagenes/logo_empresa/logo.png" alt="LuminaCraft" width="130" height="auto"></div> <!-- Esto contiene el logo de la empresa -->
    <nav> <!-- Esto es una etiqueta que permite navegar o saltar entre la lista -->
        <ul> <!-- Lista con links para navegar entre ellas -->
            <li><a href="../index.html">Inicio</a></li>
            <li class="active"><a href="productos.html">Productos</a></li>
            <li><a href="presupuestos.html">Presupuestos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>    
<main> <!-- Contiene el contenido de la página -->
    <h1>Nuestros Productos</h1>
    <div class="gallery"> <!-- Div de la galería de fotos o contenido -->
        <div class="item"> 
            <img src="../imagenes/galeria_de_productos/lampara_de_cocina.png" alt="Lámpara de cocina" width="220" height="200">
            <p>Lámpara de cocina</p>
        </div>
        <div class="item">
            <img src="../imagenes/galeria_de_productos/lampara_de_escritorio.png" alt="Lámpara de escritorio" width="200" height="200">
            <p>Lámpara de escritorio</p>
        </div>
        <div class="item">
            <img src="../imagenes/galeria_de_productos/lampara_de_mesilla_nocturna.png" alt="Lámpara de mesilla nocturna" width="200" height="200">
            <p>Lámpara de mesilla nocturna</p>
        </div>
        <div class="item">
            <img src="../imagenes/galeria_de_productos/lampara_de_pared2.png" alt="Lámpara de pared" width="200" height="200">
            <p>Lámpara de pared</p>
        </div>
        <div class="item">
            <img src="../imagenes/galeria_de_productos/lampara_de_pared.png" alt="Lámpara de pared" width="200" height="200">
            <p>Lámpara de pared</p>
        </div>
        <div class="item">
            <img src="../imagenes/galeria_de_productos/lampara_de_techo.png" alt="Lámpara de techo" width="200" height="200">
            <p>Lámpara de techo</p>
        </div>
        <div class="item">
            <img src="../imagenes/galeria_de_productos/lamparada_de_comedor.png" alt="Lámpara de comedor" width="200" height="200">
            <p>Lámpara de comedor</p>
        </div>
    </div>
</main>
<footer> <!-- Pie de página -->
    <br> <!-- Salto de línea -->
    <strong>Redes</strong> <!-- Un párrafo de redes en negrita -->
    <div class="social-icons"> <!-- Div de los iconos de las redes -->
        <br>
        <!-- Links de las redes con sus logos  -->
        <a href="https://www.instagram.com" target="_blank"><img src="../imagenes/logo_redes/instagram.png" alt="Instagram" width="30" height="auto"></a>
        <a href="https://www.facebook.com" target="_blank"><img src="../imagenes/logo_redes/facebook.png" alt="Facebook" width="30" height="auto"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="../imagenes/logo_redes/twitter.png" alt="Twitter" width="30" height="auto"></a>
        <a href="https://www.tiktok.com" target="_blank"><img src="../imagenes/logo_redes/tik-tok.png" alt="TikTok" width="30" height="auto"></a>
    </div> <!-- Div con 2 párrafos -->
    <p>Dirección: C. la Iglesia, 3, Huerta del Rey.</p>
    <p>Aviso Legal  |  Política de Privacidad</p>
</footer>
</body>
</html>
